
{% extends "eduprod/layout.html" %}
{% load static %}
{% block body %}


<!-- Retrieves & displays questions -->
<div id="content" data-questions='{{ questions_json|safe }}'></div>

<!-- Adds an input box for user -->

<div class="question"></div>
      <img src="{% static 'eduprod/Orange.png' %}" alt="Color Orange" id="OrangeImage" style="display: block;" height="120px"> 
<input type="text" id="userAnswer" placeholder="Type your answer here">

</div>

<div>
<button id="nextQuestionBtn">Next Question</button>
</div>

{% endblock %}
